#banner 
    .banner_content
        %h1 File Cabinet
        %p Your life's work, Organized, always
        %button= link_to "Enter", new_user_registration_path

#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Organize
                %p I'm baby deep v humblebrag hammock direct trade, vice mollit small batch occupy. Cupidatat aesthetic umami vaporware four dollar toast mlkshk subway tile tumblr chartreuse occaecat trust fund sint. Est tousled tofu shabby chic disrupt lorem chicharrones in hammock dolor pok pok semiotics. Listicle kitsch vice fixie cold-pressed keytar hot chicken, photo booth pabst nisi.
                Yuccie ad dolore fashion axe est unicorn banh mi. Ipsum do kitsch meggings typewriter semiotics occaecat banjo cupidatat kickstarter cornhole laboris celiac biodiesel microdosing. Tacos godard keffiyeh air plant. Church-key kale chips blue bottle man braid ad. Franzen air plant affogato pariatur, single-origin coffee fashion axe kombucha tote bag irure gastropub coloring book microdosing.

#bottom_cta
    .wrapper
        %h2 Go ahead!
        %br
        %button= link_to "Join Now", new_user_registration_path
        
