<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile.jpeg" %>
    </div>

    <div id="content">
        <h1>It's Mr. Stick figure </h1>
        <p>Godard vaporware post-ironic, 3 wolf moon forage subway tile tilde farm-to-table. Crucifix poutine chia, narwhal small batch whatever marfa paleo chartreuse palo santo readymade. Mixtape godard chicharrones fingerstache. Ethical banh mi intelligentsia XOXO small batch.</p>
    </div>
</div>